<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" routerLink="/">
        {{ title }}
      </a>
    </div>
      <ul class="nav navbar-nav">
        <li>
          <a href="#" routerLink="/user">Utilisateurs</a>
        </li>
                <li>
          <a href="#" routerLink="/activities">Mes activités</a>
        </li>
        <li>
          <a href="#" routerLink="/about">A propos</a>
        </li>
        <li>
          <a href="#" routerLink="/login">Connexion</a>
        </li>
      </ul>
    
  </div>
</nav>

<!--
<nav class="navbar navbar-default">
  
          <div class="container-fluid">
  
            <ul class="nav navbar-nav">
  
              <li class="active"> <a href="#">Accueil</a> </li>
  
              <li> <a href="#">Liens</a> </li>
  
              <li> <a href="#">Témoignages</a> </li>
  
              <li> <a href="#">Références</a> </li>
  
            </ul>

  
          </div>
  
        </nav>
      -->
<!-- <taa-user-connect-form></taa-user-connect-form>

<hr>

<taa-user-list></taa-user-list>

<hr>

<taa-lieu-list></taa-lieu-list>

<hr>

<taa-activite-list></taa-activite-list> -->

<router-outlet></router-outlet>

