<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" routerLink="/">
        {{ title }}
      </a>
    </div>
      <ul class="nav navbar-nav">
        <li>
          <a href="#" routerLink="/user">Utilisateur</a>
        </li>
        <li>
          <a href="#" routerLink="/activities">Mes activités</a>
        </li>
        <li>
          <a href="#" routerLink="/about">A propos</a>
        </li>
        <li *ngIf="!authenticationService.isLogged()">
          <a href="#" routerLink="/register">Inscription</a>
        </li>
        <li *ngIf="!authenticationService.isLogged()">
          <a href="#" routerLink="/login">Connexion</a>
        </li>
        <li *ngIf="authenticationService.isLogged()">
          <a href="#" (click)="authenticationService.logout()" routerLink="/login">Déconnexion</a>
        </li>
      </ul>
      
  </div>
</nav>

<taa-alert></taa-alert>

<router-outlet></router-outlet>

