
<!-- <h1>Mes informations</h1>
<div *ngFor="let user of users">
    <p>
    Nom: {{user.nom}} <br>
    Prénom: {{user.prenom}} <br> 
    Login: {{user.login}} <br>
    Active Email: {{user.email}} <br> 
  </p>
</div> -->
<!-- <h1>Prévisions</h1>
<p>afficher les prévisions ici</p>
<table border="1">
  <thead>
    <tr>
      <th>Mardi Date1</th>
      <th>Mercredi Date2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>lieu1</td>
      <td>lieu2</td>
    </tr>
  </tbody>
</table> -->

<div class="container">
    <form class="form-horizontal" role="form">
        <h2>Registration Form</h2>
        <div class="form-group">
            <label for="notification" class="col-sm-3 control-label">Notification</label>
            <div class="col-sm-9">
                <select id="notification" class="form-control">
                    <option>Mardi</option>
                    <option>Mercredi</option>
                </select>
            </div>
        </div> <!-- /.form-group -->
        <div class="form-group">
            <label for="departement" class="col-sm-3 control-label">Département</label>
            <div class="col-sm-9">
                <input type="text" id="departement" name="departement" placeholder="Département" class="form-control" autofocus>
                <span class="help-block">Département, eg.: Ille-Et-Vilaine</span>
            </div>
        </div>
        <div class="form-group">
            <label for="region" class="col-sm-3 control-label">Région</label>
            <div class="col-sm-9">
                <input type="text" id="region" name="region" placeholder="Région" class="form-control" autofocus>
                <span class="help-block">Région, eg.: Bretagne</span>
            </div>
        </div>
        <div class="form-group">
            <label for="ville" class="col-sm-3 control-label">Ville</label>
            <div class="col-sm-9">
                <select id="ville" name="ville" class="form-control" (click)="log(selectedLieu)" [(ngModel)]="selectedLieu">
                    <option *ngFor="let lieu of lieux" [ngValue]="lieu">{{lieu.nom}}</option>
                </select>
            </div>
        </div> <!-- /.form-group -->
        <!-- <div class="form-group">
            <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
            <div class="col-sm-9">
                <input type="date" id="birthDate" class="form-control">
            </div>
        </div> -->
        <div class="form-group">
            <label for="activite" class="col-sm-3 control-label">Activités</label>
            <div class="col-sm-9">
                <select id="activite" class="form-control">
                    <option>Sport1</option>
                    <option>Sport2</option>
                    <option>Sport3</option>
                </select>
            </div>
        </div> <!-- /.form-group -->
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox">I accept <a href="#">terms</a>
                    </label>
                </div>
            </div>
        </div> <!-- /.form-group -->
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </div>
        </div>
    </form> <!-- /form -->
</div> <!-- ./container -->