<div>
		<h3> Mes Activités</h3> <hr>
    <accordion> 
	    <accordion-group [heading]="activity.nom" *ngFor="let activity of myActivities"> 
	    	
	    	<h4> - Conditions Température :</h4> 
	    <table class="table table-hover">
			 <tr class="warning" >
			   <th align="center">Température Min</th>
				<th align="center">Température Inf</th>
				<th align="center">Température Sup</th>
				<th align="center">Température Max</th>
			 </tr>
			 <tr >
			   <td align="center">{{activity.condition.tempMin}}</td>
			   <td align="center">{{activity.condition.tempInf}}</td>
			   <td align="center">{{activity.condition.tempSup}}</td>
			   <td align="center">{{activity.condition.tempMax}}</td>
			 </tr>
			</table> 
			
	    	<h4> - Conditions Vent :</h4> 
	    	 <table class="table table-hover">
			 <tr class="info" >
			    <th align="center">Vent Min</th>
				<th align="center">Vent Inf</th>
				<th align="center">Vent Sup</th>
				<th align="center">Vent Max</th>
			 </tr>
			 <tr>
			   <td align="center">{{activity.condition.ventMin}}</td>
			   <td align="center">{{activity.condition.ventInf}}</td>
			   <td align="center">{{activity.condition.ventSup}}</td>
			   <td align="center">{{activity.condition.ventMax}}</td>
			 </tr>
			</table>
	    	
	    </accordion-group> 
    </accordion>
</div> 