<div class="container">
    <form class="form-horizontal" name="form" (ngSubmit)="f.form.valid && performControl()" #f="ngForm" role="form" novalidate>
    <!-- <form class="form-horizontal" name="form" (ngSubmit)="f.form.valid" #f="ngForm" role="form" novalidate> -->
                    
        <h2>Planifier une nouvelle activité :</h2>

        <fieldset>
            <legend>Localité</legend>        
            <div class="form-group">
                <label for="region" class="col-sm-3 control-label">Région</label>
                <div class="col-sm-9">
                    <select required autofocus [ngClass]="{ 'has-error': f.submitted && !regionField.valid }" #regionField="ngModel" id="region" name="region" class="form-control" (change)="onRegionSelected(ihm.selected.region)" [(ngModel)]="ihm.selected.region">
                        <option *ngFor="let region of ihm.set.regions" [ngValue]="region.nom">{{region.nom}}</option>
                    </select>
                </div>
                <div *ngIf="f.submitted && !regionField.valid" class="help-block col-sm-offset-3">Région is required</div>
            </div>
            <div class="form-group" *ngIf="ihm.selected.region">
                <label for="departement" class="col-sm-3 control-label">Département</label>
                <div class="col-sm-9">
                    <select required [ngClass]="{ 'has-error': f.submitted && !departementField.valid }" #departementField="ngModel" id="departement" name="departement" class="form-control" (change)="onDepartementSelected(ihm.selected.departement)" [(ngModel)]="ihm.selected.departement">
                        <option *ngFor="let departement of ihm.set.departements" [ngValue]="departement.code">{{departement.nom}}</option>
                    </select>
                </div>
                <div *ngIf="f.submitted && !departementField.valid" class="help-block col-sm-offset-3">Département is required</div>
            </div>
            <div class="form-group" *ngIf="ihm.selected.departement">
                <label for="ville" class="col-sm-3 control-label">Ville</label>
                <div class="col-sm-9">
                    <select required [ngClass]="{ 'has-error': f.submitted && !villeField.valid }"  #villeField="ngModel" id="ville" name="ville" class="form-control" (change)="log(ihm.selected.lieu)" [(ngModel)]="ihm.selected.lieu">
                        <option *ngFor="let lieu of ihm.set.lieux" [ngValue]="lieu.id">{{lieu.nom}}</option>
                    </select>
                </div>
                <div *ngIf="f.submitted && !villeField.valid" class="help-block col-sm-offset-3">Ville is required</div>
            </div>

            
            <fieldset>
                <legend>Activités</legend>
                <div class="form-group">
                    <label for="activite" class="col-sm-3 control-label">Activité</label>
                    <div class="col-sm-9">
                        <input required type="text" [ngClass]="{ 'has-error': f.submitted && !activiteField.valid }" #activiteField="ngModel" id="activite" name="activite" [(ngModel)]="activite.nom" placeholder="Activité" class="form-control">
                        <span class="help-block">Activité, eg.: Football</span>
                    </div>  
                    <div *ngIf="f.submitted && !activiteField.valid" class="help-block col-sm-offset-3">Activité is required</div>
                </div>

                <!-- BLOC TEMPERATURE -->
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Température</label>
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="temp_min" class="col-sm-3 control-label">Min</label>
                            <div class="col-sm-1">
                                <input type="number" [ngClass]="{ 'has-error': f.submitted && !tempMinField.valid }" #tempMinField="ngModel" id="temp_min" name="temp_min" [(ngModel)]="activite.temp_min" placeholder="Min" class="form-control" required />
                            </div>
                            <div *ngIf="f.submitted && !tempMinField.valid" class="help-block col-sm-offset-3">Temp Min is required</div>
                        </div>
                        <div class="form-group">
                            <label for="temp_inf" class="col-sm-3 control-label">Inf</label>
                            <div class="col-sm-1">
                                <input type="number" [ngClass]="{ 'has-error': f.submitted && !tempInfField.valid }" #tempInfField="ngModel" id="temp_inf" name="temp_inf" [(ngModel)]="activite.temp_inf" placeholder="Inf" class="form-control" required />
                            </div>
                            <div *ngIf="f.submitted && !tempInfField.valid" class="help-block col-sm-offset-3">Temp Inf is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Température</label>
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="temp_max" class="col-sm-3 control-label">Max</label>
                            <div class="col-sm-1">
                                <input required type="number" [ngClass]="{ 'has-error': f.submitted && !tempMaxField.valid }" #tempMaxField="ngModel" id="temp_max" name="temp_max" [(ngModel)]="activite.temp_max" placeholder="Max" class="form-control">
                            </div>
                            <div *ngIf="f.submitted && !tempMaxField.valid" class="help-block col-sm-offset-3">Temp Max is required</div>
                        </div>
                        <div class="form-group">
                            <label for="temp_sup" class="col-sm-3 control-label">Sup</label>
                            <div class="col-sm-1">
                                <input required type="number" [ngClass]="{ 'has-error': f.submitted && !tempSupField.valid }" #tempSupField="ngModel" id="temp_sup" name="temp_sup" [(ngModel)]="activite.temp_sup" placeholder="Sup" class="form-control">
                            </div>
                            <div *ngIf="f.submitted && !tempSupField.valid" class="help-block col-sm-offset-3">Temp Sup is required</div>
                        </div>
                    </div>
                </div>

                <!-- BLOC VENT -->
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Vent</label>
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="vent_min" class="col-sm-3 control-label">Min</label>
                            <div class="col-sm-1">
                                <input required type="number" [ngClass]="{ 'has-error': f.submitted && !ventMinField.valid }" #ventMinField="ngModel" id="vent_min" name="vent_min" [(ngModel)]="activite.vent_min" placeholder="Min" class="form-control">
                            </div>
                            <div *ngIf="f.submitted && !ventMinField.valid" class="help-block col-sm-offset-3">Vent Min is required</div>
                        </div>
                        <div class="form-group">
                            <label for="vent_inf" class="col-sm-3 control-label">Inf</label>
                            <div class="col-sm-1">
                                <input required type="number" [ngClass]="{ 'has-error': f.submitted && !ventInfField.valid }" #ventInfField="ngModel" id="vent_inf" name="vent_inf" [(ngModel)]="activite.vent_inf" placeholder="Inf" class="form-control">
                            </div>
                            <div *ngIf="f.submitted && !ventInfField.valid" class="help-block col-sm-offset-3">Vent Inf is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Vent</label>
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="vent_max" class="col-sm-3 control-label">Max</label>
                            <div class="col-sm-1">
                                <input required type="number" [ngClass]="{ 'has-error': f.submitted && !ventMaxField.valid }" #ventMaxField="ngModel" id="vent_max" name="vent_max" [(ngModel)]="activite.vent_max" placeholder="Max" class="form-control">
                            </div>
                            <div *ngIf="f.submitted && !ventMaxField.valid" class="help-block col-sm-offset-3">Vent Max is required</div>
                        </div>
                        <div class="form-group">
                            <label for="vent_sup" class="col-sm-3 control-label">Sup</label>
                            <div class="col-sm-1">
                                <input required type="number" [ngClass]="{ 'has-error': f.submitted && !ventSupField.valid }" #ventSupField="ngModel" id="vent_sup" name="vent_sup" [(ngModel)]="activite.vent_sup" placeholder="Sup" class="form-control">
                            </div>
                            <div *ngIf="f.submitted && !ventSupField.valid" class="help-block col-sm-offset-3">Vent Sup is required</div>
                        </div>
                    </div>
                </div>
 
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" (click)="log(activite)" class="btn btn-primary btn-block">Save</button>
                    </div>
                </div>
            </fieldset>     
        </fieldset>
        <hr>
    </form>
</div>